<div class="row p-3">
    <div class="col-2">
        <img class="img-fluid" src="../../assets/saketa-logo.svg" alt="" >
    </div>
    <div class="col">
        <div class="text-info">Employee Directory</div>
        <div class="text-muted">The Ultimate People Directory Experience</div>
    </div>
    <div class="col-auto">
        <div class="">
            <span class="text-info">Welcome, </span>
            <span class="text-muted"> Andrew Philips </span>
            <span>
                <img class="" src="../../assets/andrew philips.jpeg" alt="" height="60px">
            </span>
        </div>
    </div>
</div>