.bg-emp-card{
    background-color:#eae9e9;
}

.noResults{
    color:darkgrey;
    margin:20px;
    padding-left: 20rem;
    text-align:left;
    font-weight:lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}